.h2-container {
    width: 30px;
    align-items: center;
  }

  button:hover {
    border: 3px solid lightgreen
  }

  button:active{
    border: 3px solid lightgreen;
    box-shadow: grey inset 2px 2px;
  }

  button {
    border: 3px solid red;
  }